<h2>Example: MSTASN</h2>
<ul>
    <li>is actually named MediaStreamTrackAudioSourceNode</li>
    <li>a new and better version of the MediaStreamAudioSourceNode</li>
    <li>only available in Firefox Developer v68</li>
</ul>
<p class="footnote"><a href="https://blog.paul.cx/post/mediastreamtrackaudiosourcenode/">blog.paul.cx/post/mediastreamtrackaudiosourcenode</a></p>
<p class="footnote"><a href="https://webaudio.github.io/web-audio-api/#mediastreamtrackaudiosourcenode">webaudio.github.io/web-audio-api/#mediastreamtrackaudiosourcenode</a></p>
