<h2>About me</h2>
<h3>Christoph Guttandin</h3>
<ul>
    <li>self employed at <a href="https://media-codings.com">Media Codings</a></li>
    <li>part of the <a href="https://www.w3.org/community/audio-comgp/">W3C Audio Community Group</a></li>
    <li>named chrisguttandin at <a href="https://web-audio-slackin.herokuapp.com">Slack</a>, <a href="https://github.com/chrisguttandin">Github</a>, <a href="https://stackoverflow.com/users/3211046/chrisguttandin">Stack Overflow</a>, <a href="https://twitter.com/chrisguttandin">Twitter</a>, ...</li>
</ul>
